*.bak
.cache/
.local/
.Trash/
.zsh_history
.npm/
.pub-cache/
.gradle/

# Karabiner backups
.config/karabiner/automatic_backups/

# Tmux recordings/captures
.config/tmux/captures/

# Neovim
.config/nvim/.netrwhist
